[Desktop Entry]
Version=1.0
Name=Galleoncoin Core
Comment=Galleoncoin P2P Cryptocurrency
Comment[fr]=Galleoncoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Galleoncoin, eşten eşe kriptografik sanal para birimi
Exec=galleoncoin-qt %u
Terminal=false
Type=Application
Icon=galleoncoin128
MimeType=x-scheme-handler/galleoncoin;
Categories=Office;Finance;
StartupWMClass=Galleoncoin-qt
